{% extends "base.html" %}

{% block content %}
    <h1>Création Item</h1>
    <div class="card p-3">
        <form method="POST" action="{{ url_for('post_test') }}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Catégorie</label>
                <input type="text" class="form-control" id="category" name="category" required>
            </div>
            <div class="mb-3">
                <label for="currentQuantity" class="form-label">Quantité</label>
                <input type="number" class="form-control" id="quantity" name="quantity" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Emplacement</label>
                <input type="text" class="form-control" id="location" name="location" required>
            </div>
            <div class="mb-3">
                <input id="image" type="file" name="image" accept=".png,.jpg">
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
    </div>
{% endblock %}
