{% macro navbar() -%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('home_page') }}">Gestion Inventaire</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('items_list_page') }}">Inventaire</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('create_item_page') }}">Ajout Item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('create_listing_page') }}">Ajout listing</a>
        </li>
      </ul>
    </div>
  </nav>
{%- endmacro %}

{% macro item_row(item, is_edit_page) -%}
<tr id="item-row-{{ item.id }}">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.category }}</td>
    <td>{{ item.totalQuantity }}</td>
    <td>{{ item.currentQuantity }}</td>
    <td>{{ item.location }}</td>
    <td>{{ item.ressourceType }}</td>
    <td>{{ item.local }}</td>
    <td>{{ item.status }}</td>
    <td>{{ item.consumable }}</td>
    <td>{{ item.state }}</td>
    <td>{{ item.project }}</td>
    {% if is_edit_page %}
        <td>
            <a hx-get="{{ url_for('edit_row', post_id=item.id) }}" hx-swap="outerHTML" hx-target="#item-row-{{ item.id }}" class="btn btn-warning">edit</a>
            <a hx-delete="{{ url_for('edit_item', post_id=item.id) }}" hx-confirm="Confirmer" hx-target="#item-row-{{ item.id }}" class="btn btn-danger">delete</a>
        </td>
    {% endif %}
</tr>
{%- endmacro %}

{% macro edit_item_row(item, ressource_types, locals, projects, states, status) -%}
<tr id="item-row-{{ item.id }}">
  <form id="edit_form-{{ item.id }}" hx-swap="outerHTML" hx-target="#item-row-{{ item.id }}"> 
    <td>{{ item.id }}</td>
    <td><input type="text" value="{{ item.name }}" id="name-{{ item.id }}" name="name" required></td>
    <td><input type="text" value="{{ item.description }}" id="description-{{ item.id }}" name="description" required></td>
    <td><input type="text" value="{{ item.category }}" id="category-{{ item.id }}" name="category" required></td>
    <td><input type="number" value="{{ item.totalQuantity }}" id="totalQuantity-{{ item.id }}" name="totalQuantity" required></td>
    <td><input type="number" value="{{ item.currentQuantity }}" id="currentQuantity-{{ item.id }}" name="currentQuantity" re6#66quired></td>
    <td><input type="text" value="{{ item.location }}" id="location-{{ item.id }}" name="location" required></td>
    <td>
      <select class="form-select" name="ressourceType" id="ressourceType-{{ item.id }}"">
        {% for ressourceType in ressource_types %}
          <option>{{ ressourceType }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
      <select class="form-select" name="local" id="local-{{ item.id }}">
        {% for local in locals %}
          <option>{{ local }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
      <select class="form-select" name="status" id="status-{{ item.id }}">
        {% for status in status %}
          <option>{{ status }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
      <input type="checkbox" class="form-check-input" id="consumable-{{ item.id }}" name="consumable">
    </td>
    <td>
      <select class="form-select" name="state" id="state-{{ item.id }}">
        {% for state in states %}
          <option>{{ state }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
      <select class="form-select" name="project" id="project-{{ item.id }}">
        {% for project in projects %}
          <option>{{ project }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
        <button type="submit" class="btn btn-success" id="edit-confirm-button-{{ item.id }}">Edit</button>
    </td>
  </form>
</tr>
<script>
  $('#edit-confirm-button-{{ item.id }}').click(function() {
    var data = {
        name: $("#name-{{ item.id }}").val(),
        description: $("#description-{{ item.id }}").val(),
        category: $("#category-{{ item.id }}").val(),
        totalQuantity: $("#totalQuantity-{{ item.id }}").val(),
        currentQuantity: $("#currentQuantity-{{ item.id }}").val(),
        location: $("#location-{{ item.id }}").val(),
        ressourceType: $("#ressourceType-{{ item.id }}").val(),
        local: $("#local-{{ item.id }}").val(),
        status: $("#status-{{ item.id }}").val(),
        consumable: $("#consumable-{{ item.id }}").is(":checked"),
        state: $("#state-{{ item.id }}").val(),
        project: $("#project-{{ item.id }}").val()
    };
    console.log(data);
    $.ajax({
        url: "{{ url_for('edit_item', post_id=item.id) }}",
        type: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function(response) {
          $('#item-row-{{ item.id }}').replaceWith(response);
        }
    });
  });
</script>
{%- endmacro %}

{% macro create_listing_form(listing_type) -%}
    <div class="card p-3">
      <h2>Création {{ listing_type }}</h2>
      <form method="post" action="{{ url_for('create_listing', listing_type=listing_type) }}" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="name" class="form-label">Nom</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
      </form>
    </div>
{%- endmacro %}