{% extends "base.html" %}

{% block content %}
<div class="d-flex">
  <h1>Items List</h1>
  {% if is_edit_page %}
      <a href="{{ url_for('items_list') }}" class="btn btn-warning m-auto">arret edit</a>
  {% else %}
      <a href="{{ url_for('item_list_edit') }}" class="btn btn-warning m-auto">edit</a>
  {% endif %}
</div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Catégorie</th>
        <th>Quantité total</th>
        <th>Quantité Actuel</th>
        <th>Location</th>
        <th>Type de ressources</th>
        <th>Local</th>
        <th>Statut</th>
        <th>Consommable</th>
        <th>État</th>
        <th>Projet</th>
        {% if is_edit_page %}
            <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in items_list %}
        {{ macros.item_row(item, is_edit_page) }}
      {% endfor %}
    </tbody>
</table> 
{% endblock %}