{% extends "base.html" %}

{% block content %}
<div class="d-flex">
  <h1>Items List</h1>
  {% if is_edit_page %}
      <a href="{{ url_for('items_list') }}" class="btn btn-warning m-auto">arret edit</a>
  {% else %}
      <a href="{{ url_for('item_list_edit') }}" class="btn btn-warning m-auto">edit</a>
  {% endif %}
</div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>name</th>
        <th>description</th>
        <th>category</th>
        <th>total quantity</th>
        <th>current quantity</th>
        <th>location</th>
        {% if is_edit_page %}
            <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in items_list %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.totalQuantity }}</td>
        <td>{{ item.currentQuantity }}</td>
        <td>{{ item.location }}</td>
        {% if is_edit_page %}
            <td>
                <a href="{{ url_for('edit_item', post_id=item.id) }}" class="btn btn-warning">edit</a>
                <a href="{{ url_for('edit_item', post_id=item.id) }}" class="btn btn-danger">delete</a>
            </td>
        {% endif %}
      </tr>
      {% endfor %}
      
    </tbody>
</table> 
{% endblock %}